body {
    background-color: #1F2614;
}
/* --------Navbar---------------- */
.nav-link {
    color: #2C3D11 !important;
    transition: 0.4s;
    font-size: 22px;
    font-weight: 500;
}
.nav-link:hover {
    color: #5D8C16 !important;
    transition: 0.4s;
}
.navbar-brand {
    font-size: 30px !important;
    font-weight: 700 !important;
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .navbar-brand {
        padding-left: 80px;
        margin: 0;
    }
    .nav-item {
        padding-right: 80px
    }
}
@media (min-width: 1200px) {
    .navbar-brand {
        padding-left: 80px;
        margin: 0;
    }
}